.iphone15pro {
  margin-top: 10px;
  height: 700px;
  position: relative;
  background-color: black;
}
.iphone15pro img {
  padding-top: 250px;
  border-top: 3px solid black;
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.content3 {
  position: absolute;
  top: 40px;
  right: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content3 span {
  color: white;
}
.content3 > span:nth-child(1) {
  font-size: 50px;
  font-weight: bold;
}
.content3 > span:nth-child(2) {
  font-size: 30px;
  font-weight: 600;
}
.content3 > span:nth-child(3) span {
  color: rgb(17, 108, 235);
  font-weight: 700;
}
.content3 > span:nth-child(3) {
  margin-top: 8px;
  display: flex;
  gap: 20px;
}
